{% extends 'base/layout.html' %}
{% load static %}


{% block content %}
vishnu
{% if messages %}
{% for message in messages %}
<div class='alert {% if message.tags %}alert-{{message.tags}} {% endif %}' role="alert">
{{message}}
</div>
{% endfor %}
{% endif %}
<div>
{% include 'testpage.html' %}
<form action="" method='POST' class="mt-4">
{% csrf_token %}{{form.as_p}}
<input type="submit" value="Search" class="btn btn-info">

</form>
</div>
<p>rtyrtghjk</p>
{% if result %}
<table class="table">
<thead class="thead-dark">
<tr>
  <th scope="col">id</th>
  <th scope="col">Student name</th>
  <th scope="col">Department</th>
  <th scope="col">action</th>
</tr>
</thead>
<tbody>
{% for r in result %}
<tr>
  <th scope="row">{{r.id}}</th>
  <td>{{r.student_name}}</td>
  <td>{{r.department}}</td>
  <td>
    <a href="edit-student/{{r.id}}">Edit</a>
    <a href="delete-student/{{r.id}}">Delete</a>
  </td>
</tr>    
{% endfor %}
</tbody>
</table>
{% endif %}








{% endblock %}